/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #8b0000;
}
.bg-color--subcolor {
  background-color: ffa07a;
}
.bg-color--gray {
  background-color: fff8dc;
}
